body {
    font-family: helvetica, arial, sans-serif;
    margin: 1.5em;
  }
  
  h1 {
    font-style: italic;
    margin: 1rem;
    color: #FF6F00;
    font-size: large;
    text-align: center;
  }
  
  
  video {
   
    margin: 1rem;
    background: #fff;
    /* width: 640px;
    height: 480px; */
  }
  
  button {
    padding: 1rem;
    margin:0.5rem;
    font-size: 1rem;
    background-color: #ffbe8b;
  }
  
  .removed {
    display: none;
  }
  
  #status {
    font-size:small;
  }

  .dataCollector{
    background-color: #FF6F00;
  }

  #enableCam{
    background-color: #56514d;
  }

  #flip-button{
    background-color: #fff;
    color: #fff;
    margin:0
  }